/* @import url('https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap'); */

@font-face {
  font-family: spartan;
  src: url(fonts/Spartan-VariableFont_wght.ttf);
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default padding */
ul[class],
ol[class] {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  font-family: spartan, Arial, Helvetica, sans-serif;
  background-color: #ffffff;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
}

/* Natural flow and rhythm in articles by default */
article > * + * {
  margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

header {
  background-color: #D45749;
  display: flex;
  flex-direction: column;
  position: sticky;
  top: 0;
  z-index: 99;
}

.logo {
  display: flex;
  justify-content: center;
  padding-top: 5px;
  padding-right: 5px;
}

.logo a {
  text-decoration: none;
}

.logo-img {
  height: 30px;
  width: 30px;
  margin-top: 2px;
  /* padding-bottom: -25px; */
}

.logo-text {
  font-size: 30px;
  font-variation-settings: 'wdth' 100, 'wght' 490;
  /* margin: 0; */
  color: #ffffff;
}

.navigation {
  color: #ffffff;
  justify-content: center;
  padding-bottom: 1px;
  font-size: 18px;
  font-weight: 100;
}

.navigation ul {
  display: flex;
  list-style: none;
  justify-content: center;
  padding-left: 0px;
}

.navigation ul li {
  padding: 0 20px;
  
}

.navigation ul li a {
  color: #ffffff;
  
}

.background {
  background-position: center;
  background-image: url(img/background-hd.webp);
  background-size: cover;
  background-color: transparent;
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: 85vh;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: -1;
}

.first-container {
  color: #ffffff;
  padding: 0 0.5em;
  z-index: 0;
}

.second-container {
  display: none;
  background-color: #ffffff;
}

.third-container {
  display: none;
}

footer {
  display: none;
}

.title {
  font-size: 1.1rem;
  font-variation-settings: 'wdth' 700, 'wght' 750;
  text-transform: uppercase;
  text-align: center;
  padding-bottom: 0.4em;
}

.search-container {
  background-color: rgba(229,229,229, 0.75);
  border-radius: 0.6em;
  padding: 1em;
  max-width: 51em;
  margin: 0 auto;
}

.search-form {
  display: flex;
  flex-direction: column;
  /* padding: 0.5em 0.6em 0.9em 0.6em; */
  /* z-index: 2; */
}

.search-group {
  display: flex;
  flex-direction: column;  
}

.search-text {
  color: #4A4F57;
  font-size: 0.9rem;
  margin-bottom: 0.1em;
  padding: 0 0.2em;
  font-variation-settings: 'wdth' 100, 'wght' 700;
  text-transform: uppercase;
}

.search-box {
  border-radius: 0.2em;
  padding: 0.5em;
  margin-bottom: 1em;
  border-style: none;
}

.search-button {
  background-color: #D45749;
  border-radius: 0.2em;
  color: #ffffff;
  padding: 0.5em;
  font-variation-settings: 'wdth' 100, 'wght' 600, 'opsz' 12;
  border-style: none;
}

.button-how {
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 0.3em;
  opacity: 0.9;
  border-style: none;
  margin-top: 3em;
  margin-left: 3em;
  font-size: 1.1em;
  font-variation-settings: 'wdth' 100, 'wght' 400;
  padding: 0.5em;
}

.second-container {
  display: none;
}

.filter-container {
  display: flex;
  flex-direction: column;
  background-color: #e9e9e9;
  padding: 1.5em;

}

.filter-title {
  font-size: 1.0em;
  font-weight: 900;
  color: #6d6d6d;
  text-align: center;
}

.filter-form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.filter-cont {
  padding: 0.5em 0em;
}

.filter-cont input {
  width: 100%;
}

@media only screen and (min-width: 768px) {

  header {
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
  }

  .logo {
    display: inline-flex;
    flex-direction: row;
    padding-left: 2em;
    padding-top: 0.6em;
  }

  .navigation {
    display: inline-flex;
    /* max-width: 250px; */
    padding-right: 1em;
    
  }

  .navigation ul {
    display: inline-flex;
    
  }

  .navigation ul li {
    padding: 0 2em;
  }

  .background {
    min-height: 55vh;
  }

  .first-container {
    min-width: 60vw;
  }

  .title {
    font-size: 1.6em;
    font-weight: 550;
  }

  .search-form {
    padding: 1.5em;
  }

  .search-group {
    flex-direction: row;
  }

  .search-box {
    width: 100%;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  .search-button {
    height: 100%;
    font-size: 0.8em;
    padding-top: 1.2em;
    padding-left: 2.6em;
    padding-right: 2.6em;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    background-color: #519BD7;
  }

  .button-how {
    margin-left: 9em;
  }

  .second-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .red-title-steps {
    color: #D45749;
    font-weight: 700;
    padding-top: 2em;
  }

  .container-steps {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .step {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2em;
  }

  .step-icon {
    font-size: 2.5em;
  }

  .step-title {
    font-variation-settings: 'wdth' 100, 'wght' 600;
    padding-top: 1.5em;
  }

  .step-text {
    font-size: 0.9em;
    text-align: center;
    padding-top: 1.5em;
  }

  .third-container {
    display: flex;
    flex-direction: column;
  }

  .color-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5em 2.6em;
  }

  .bg-red {
    background-color: #E27F66;
  }

  .bg-blue {
    background-color: #519BD7;
  }

  .bg-gray {
    background-color: #99A5A6;
  }

  .color-text {
    color: #ffffff;
    max-width: 50%;
  }

  .color-text h3 {
    font-size: 1em;
    padding-bottom: 1em;
  }

  .color-text p {
    font-size: 0.8em;
    padding-bottom: 2.5em;
  }

  .color-button-red {
    color: #E27F66;
    background-color: #ffffff;
    border-style: none;
    font-size: 0.8em;
    font-weight: 700;
    padding: 0.8em;
  }

  .color-button-gray {
    color: #99A5A6;
    background-color: #ffffff;
    border-style: none;
    font-size: 0.8em;
    font-weight: 700;
    padding: 0.8em;
  }

  .color-image {
    min-width: 30%;
    max-height: 50vh;
    display: flex;
    justify-content: flex-end;
  }

  .color-image img {
    height: 15em;
    width: 15em;
    
    border-radius: 50%;
    padding: 10px;
    object-fit: cover;
  }

  footer {
    display: flex;
    flex-direction: column;
    background-color: #000000;
    color: #ffffff;
  }

  .bottom-navbar {
    min-width: 90%;
    margin: 1.6em auto;
    position: relative;    
  }

  .bottom-navbar ul {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    list-style: none;
    padding: 0.4em;
    border-top: 1px #2e2e2e solid;
    border-bottom: 1px #2e2e2e solid;
    font-weight: 1000;
  }

  .bottom-navbar ul li {
    padding: 0.1em 1em;
  }

  .bottom-navbar ul li a {
    text-decoration: none;
    color: #ffffff;
    font-size: 0.60em;
  }

  .img-cont {
    min-width: 5em;
  }

  .link-logo-footer {
    display: inline-block;
    position: absolute;
    background-color: #000000;
    border: 1px #2e2e2e solid;
    border-radius: 50%;
    padding: 1.6em;
    z-index: 6;
    top: -0.65em;
    margin-left: -3em;
    left: 50%;
  }

  .logo-footer {
    max-height: 2.5em;
  }

  .footer-info {
    display: flex;
    align-self: center;
    justify-content: space-between;
    max-width: 90%;
    padding-top: 1em;
    padding-bottom: 1em;
  }

  .info-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 33%;
  }

  .info-box h4 {
    font-size: 0.8em;
    font-weight: 900;
    padding-bottom: 1.5em;
  }

  .info-box p {
    font-size: 0.6em;
  }

  .info-box p a {
    text-decoration: none;
    color: #CC5345;
    font-weight: 900;
  }
  
  .subscribe-form {
    display: flex;
  }

  .subscribe-box {
    border: 1px #2e2e2e solid;
    background-color: #000000;
    font-size: 0.6em;
    padding: 0.5em;
    border-right: 0;
  }

  .subscribe-button {
    font-size: 0.6em;
    font-weight: 900;
    color: #ffffff;
    background-color: #4a4f57;
    border-style: none;
    padding: 0 2em;
  }

  .footer-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #202020;
    /* min-height: 7vh; */
    padding: 1.5em;
    
  }

  .social-icons {
    font-size: 0.7em;
    color: #808080;
  }

  .social-icons .fab {
    padding: 0 0.8em;
  }

  .copyright {
    font-size: 0.5em;
    color: #808080;
  }

  .copyright span {
    font-weight: 900;
    color: #949494;
  }

  .copyright span i {
    font-size: 1.5em;
    padding: 0 0.3em;
  }

}



@media only screen and (min-width: 1024px) {

  .top-icons {
    font-size: 0.8em;
  }

  .fa-search::after {
    content: "VINYLS";
    font-size: 0.8em;
    font-family: spartan, sans-serif;
    padding-left: 1em;    
  }

  .fa-user::after {
    content: "ABOUT";
    font-size: 0.8em;
    font-family: spartan, sans-serif;
    padding-left: 1em;
  }

  .fa-rss::after {
    content: "BLOG";
    font-size: 0.8em;
    font-family: spartan, sans-serif;
    padding-left: 1em;
  }

  .fa-bars::after {
    content: "MORE...";
    font-size: 0.8em;
    font-family: spartan, sans-serif;
    padding-left: 1em;
  }
  
  .search-button {
    background-color: #CC5345;
  }

  main {
    /* max-width: 1325px; */
    margin: 0 auto;
  }

  .container-steps {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 3em 0;
  }

  .step {
    width: 28em;
  }

  .color-box {
    justify-content: space-evenly;
  }

  .color-text {
    width: 600%;
  }

  .color-text h3 {
    font-size: 1.5em;
    padding-bottom: 0.5em;
  }

  .color-text p {
    font-size: 1em;
    padding-bottom: 1em;
  }

  .color-text button {
    font-size: 1em;
  }

  .bottom-navbar ul li {
    padding: 0 1.2em;
  }

  .bottom-navbar ul li a{
    font-size: 0.9em;    
  }

  .footer-info {
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 2em;
    width: 100%;
  }

  .info-box {
    padding: 0 2em;
  }

  .info-box h4 {
    font-size: 1.2em;
  }

  .info-box p {
    font-size: 0.8em;
  }

  .subscribe-box, .subscribe-button {
    font-size: 0.8em;
  }

  .footer-bottom {
    justify-content: space-between;
    padding-left: 3em;
    padding-right: 3em;
  }

  .social-icons {
    font-size: 1.4em;
  }

  .copyright {
    font-size: 0.7em;
  }

  .search-container {
    max-width: ;    
  }

}